* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #eeeeee;
}

.wrapper {
    background-color: white;
    border: 1px solid #999999;
    border-radius: 8px;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 20px
}

.wrapper__head {
    display: flex;
    flex-direction: column;
}

.wrapper__head__title {
    background-color: orange;
    color: white;
    text-align: center;
}

.wrapper__head__sub-title {
    margin-top: 10px;
}

#point {
    color: sandybrown;
    text-decoration: underline;
}

.line {
    border: 1px dotted #999999;
}

.wrapper__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__body__title {
    background-color: #f5f5f5;
    margin-bottom: 10px;
}

#jeju {
    color: teal;
    font-weight: bold;
}

#date {
    text-align: right;
    color: #999999;
    font-size: 12px;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

.header-inner {
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 100px;
}

.logo h1 a {
    text-decoration: none;
    color: orange;
}

.menu__ul {
    display: flex;
    flex-direction: row;
}

.menu__ul li {
    list-style: none;
}

.menu__ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.user {
    width: 100px;
}